[user]
	email = dalbyryan3@gmail.com
	name = Ryan Dalby
[alias]
	pushf = push --force-with-lease --force-if-includes
[core]
	excludesfile = /Users/dalbyryan3/.gitignore
	attributesfile = /Users/dalbyryan3/.gitattributes
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
